.__fb-light-mode {
	--messenger-card-background: #000000 !important;
}

.__fb-dark-mode {
	--header-height: 0px !important;
	--surface-background: #000000 !important;
	--messenger-card-background: #000000 !important;
}

html {
	overflow-y: hidden !important;
}
